<form action="<%= url %>" method=post>
  <input type="hidden" name="_method" value="<%= method %>">

  <%= auth_token_input %>

  <label for="username">Username:</label>
  <input type="text" name="user[user_name]" id="username" value="<%=user_name%>">

  <label for="password">Password:</label>
  <input type="password" name="user[password]" id="password">

  <button>Submit</button>
</form>
